@model CustomsERP.Core.Port

<h1>New Port</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger">
        <div>
            <label>Port Code</label>
            <input asp-for="PortCode"/>
        </div>
    <button type="submit">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}