@model CustomsERP.Core.Warehouse

<h1>Update Warehouse</h1>

<form method="post" asp-action="Update" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger">
    
    <input type="hidden" asp-for="Id"/>
    <table class="table">
        <thead>
        <tr>
            <th>Warehouse Code</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input asp-for="WarehouseCode"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}