@model CustomsERP.Core.Shipment


<h1>Are you sure you want to delete the Shipment</h1>
<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
    <button type="submit">Yes</button>
</form>