@model CustomsERP.Web.ViewModels.ShipmentFormViewModel;

<h1>Update Shipments</h1>

<form method="post" asp-action="Update" asp-route-id="@Model.Shipment.Id">
    <input type="hidden" asp-for="Shipment.Id"/>
    <table class="table">
        <thead>
        <tr>
			<th>MRN</th>
            <th>Exporter</th>
            <th>Receiver</th>
            <th>Shipping Company</th>
            <th>Port</th>
            <th>Warehouse</th>
            <th>DV1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input asp-for="Shipment.MRN"/></td>
            <td><select asp-for="Shipment.ExporterId" asp-items="Model.Exporters"></select></td>
            <td><select asp-for="Shipment.ReceiverId" asp-items="Model.Receivers"></select></td>
            <td><select asp-for="Shipment.ShippingCompanyId" asp-items="Model.ShippingCompanies"></select></td>
            <td><select asp-for="Shipment.PortId" asp-items="Model.Ports"></select></td>
            <td><select asp-for="Shipment.WarehouseId" asp-items="Model.Warehouses"></select></td>
            <td><input type="checkbox" asp-for="Shipment.Dv1Exists"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
</form>
