@{
    ViewData["Title"] = "Customs Erp";
}

<head>
    <nav>
        <a asp-controller="Product" asp-action="Index">Products</a>
        <a asp-controller="Receiver" asp-action="Index">Receiver</a>
        <a asp-controller="Exporter" asp-action="Index">Exporter</a>
        <a asp-controller="Warehouse" asp-action="Index">Warehouse</a>
        <a asp-controller="Port" asp-action="Index">Ports</a>
        
        
    </nav>
</head>

<div class="text-center">
    
</div>
