@model CustomsERP.Core.Product

<h1>New Product</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Hs Code</label>
        <input asp-for="HsCode" />
    </div>
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <button type="submit">Save</button>
</form>